BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never

# 大括号换行风格
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false

# 对齐相关
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true

# 换行规则
BreakBeforeBraces: Custom
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# 命名空间、include
NamespaceIndentation: All
SortIncludes: true
IncludeBlocks: Regroup

# 其他细节
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 1
Cpp11BracedListStyle: true
Standard: c++17
